:root {
  --box-unit: 60px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.card {
  padding: 10px 0;
  margin: 30px auto;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: all 0.4s linear; // below is the transition properties in the top-down order
  // 1 -> transition-property: all;
  // 2 -> transition-duration: 0.4s;
  // 3 -> transition-delay: 0s;
  // 4 -> transition-timing-function: linear;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0 0 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
  -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .cardList {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.box {
  width: 100%;
  height: 60px;
  transition: all 1000ms linear;
  background: #2a2a72;
  overflow: hidden;
}

.open{
  animation: grow 500ms ease-out forwards;
    //animation-name: grow;
    //animation-duration: 1s;
    //animation-direction: alternate;
    //animation-timing-function: linear;
}

.closed{
  animation: shrink 500ms ease-out forwards;
  //animation-name: shrink;
  //animation-duration: 1s;
  //animation-direction: alternate;
  //animation-timing-function: linear;
}

@keyframes grow {
  from {
    width: var(--box-unit);
    background: #2a2a72;
  }
  to {
    width: 200px;
    background: #2a2a72;
  }
}
@keyframes shrink {
  from {
    width: 200px;
    background: #2a2a72;
  }
  to {
    width: var(--box-unit);
    background: #2a2a72;
  }
}

.fadeIn{
  animation: fade-in 3000ms linear forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//.image-wrapper {
//  margin: 0;
//  padding: 0;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100vh;
//  background: url("/public/img/main.jpg") no-repeat;
//  background-size: cover;
//  animation-name: expand-fade-in;
//  animation-duration: 1.5s;
//  animation-timing-function: ease-out;
//  animation-fill-mode: both;
//}
//
//.title {
//  font-size: 4em;
//  text-transform: uppercase;
//  margin: 0;
//  font-family: Sen, serif;
//  text-align: center;
//  animation-name: fade-in;
//  animation-duration: 1s;
//  animation-timing-function: ease-out;
//  animation-fill-mode: both;
//  animation-delay: 2s;
//}
//
//@keyframes expand-fade-in {
//  from {
//    opacity: 0;
//    width: 0;
//  }
//  to {
//    opacity: 100%;
//    width: 100%;
//  }
//}
//
//@keyframes fade-in {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 100%;
//  }
//}
